<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Proyecto en vue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <h1>{{titulo}}</h1>
            <ul>
                <li v-for="cualidades of cualidad">{{cualidades.nombre}}-{{cualidades.estado}}
                    <span v-if="cualidades.estado===true"> -check</span>
                </li>
            </ul>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="01.js"></script>
    </body>
</html>